@model MaxxExpress.Areas.WorkPage.Models.WorkViewModel

<form class="loadaddform" enctype="multipart/form-data">
    <div id="addLoad_InfoBox" class="card border border-secondary LoadInfoBox">
        <div class="card-header card-header-addLoad">
            <div class="col-md-4 form-group"><span class="dtl_value padding-right-md">Bol/PO Number :</span><span id="vM_AddLoadData_LoadNbr" class="dtl_value padding-right-md">@Html.EditorFor(m => m.vM_AddLoadData.Load_Number, new { htmlAttributes = new { @class = "form-control dtl_number" } })</span><span style="color:white;"><small></small></span></div>
            <div class="col-md-4 form-group">
                <span class="dtl_value padding-right-md">Delivery Date :</span><span class="dtl_value padding-right-md">@Html.DropDownListFor(m => m.vM_AddLoadData.Load_Date, new SelectList(Model.AddLoad_DayofWeek_List, "Id", "Value"), new { @class = "form-control dtl_number" })</span>
            </div>
            <div class="col-md-4 form-group"><span class="dtl_value padding-right-md">Route :</span><span class="dtl_value padding-right-md">@Html.DropDownListFor(m => m.vM_AddLoadData.Route_ID, new SelectList(Model.AddLoad_Route_List, "Id", "Value"), "Select Route", new { @class = "form-control", @onchange = "getRouteDetails(this)" })</span></div>        
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="col-md-4 form-group"><span class="dtl_label">Driver : </span><span class="dtl_value money-round-dtl">@Html.DropDownListFor(m => m.vM_AddLoadData.Driver_NBR, new SelectList(Model.AddLoad_Driver_List, "Id", "Value"), new { @class = "form-control" })</span></div>
                <div class="col-md-4 form-group">
                    <span class="dtl_label">Truck</span><span class="dtl_value money-dtl">@Html.DropDownListFor(m => m.vM_AddLoadData.Truck_NBR, new SelectList(Model.AddLoad_Truck_List, "Id", "Value"), new { @class = "form-control" })</span>
                </div>

                @{
                    if (Session["LogUserAccess"].ToString() == "Driver")
                    {
                        //Moved to Bottom for Driver
                    }
                    else
                    {

                        <div class="col-md-4 form-group" style="padding-left:0px;">
                            <span class="dtl_label">Load Confirmation :</span>
                            <div class="col-md-12 no-pad-horizontal">
                                <div class="col-md-8 no-pad-horizontal">
                                    <span id="addLoad-uploadbox" class="btn btn-basic fileinput-button fileInput-maxx">
                                        <span id="AddLoad_LoadConfirmation_Filename" class="dtl_number">Select File</span>
                                        <input id="AddLoad_LoadConfirmation_Upload" name="AddLoad_LoadConfirmation_Upload" class="LoadConfirmationUpload" type="file" onchange="get_filename()">
                                    </span>
                                    <div id="addLoad_UploadProgress" class=""></div>
                                </div>
                                <div class="col-md-4 no-pad-horizontal">
                                    <span class="btn btn-primary fileinput-button AddLoad_LoadConfirmationUpload_Submit" style="width: 100%">
                                        <span>Upload</span>
                                        <input class="AddLoad_LoadConfirmationUpload_Submit LoadConfirmationUpload" type="button">
                                    </span>
                                </div>
                            </div>
                        </div>

                    }
                }

            </div>

        @{
                if (Session["LogUserAccess"].ToString() == "Driver")
                {
                    <div class="col-md-12 hide">
                        <div class="col-md-4 form-group"><span class="dtl_label">Week of : </span><span class="dtl_value"> @Html.DropDownListFor(m => m.vM_AddLoadData.Week_of, new SelectList(Model.AddLoad_Weekof_List, "Id", "Value"), new { @class = "form-control dtl_number" })</span></div>
                        <div class="col-md-4 form-group"><span class="dtl_label">Load # of Week : </span><span class="dtl_value padding-right-md">@Html.DropDownListFor(m => m.vM_AddLoadData.Load_of_Week, new SelectList(Model.AddLoad_LoadofWeek_List, "Id", "Value", Model.AddLoad_LoadofWeek_Val), new { @class = "form-control" })</span></div>
                        <div class="col-md-4 form-group" style="padding-left:0px;"><span class="dtl_label padding-right-md">Customer :</span><span class="dtl_value padding-right-md">@Html.DropDownListFor(m => m.vM_AddLoadData.Customer_ID, new SelectList(Model.AddLoad_Customer_List, "Id", "Value"), new { @class = "form-control" })</span></div>
                    </div>
                }
                else
                {
                    <div class="col-md-12">
                        <div class="col-md-4 form-group"><span class="dtl_label">Week of : </span><span class="dtl_value"> @Html.DropDownListFor(m => m.vM_AddLoadData.Week_of, new SelectList(Model.AddLoad_Weekof_List, "Id", "Value"), new { @class = "form-control dtl_number" })</span></div>
                        <div class="col-md-4 form-group"><span class="dtl_label">Load # of Week : </span><span class="dtl_value padding-right-md">@Html.DropDownListFor(m => m.vM_AddLoadData.Load_of_Week, new SelectList(Model.AddLoad_LoadofWeek_List, "Id", "Value", Model.AddLoad_LoadofWeek_Val), new { @class = "form-control" })</span></div>
                        <div class="col-md-4 form-group hide" style="padding-left:0px;"><span class="dtl_label padding-right-md">Customer :</span><span class="dtl_value padding-right-md">@Html.DropDownListFor(m => m.vM_AddLoadData.Customer_ID, new SelectList(Model.AddLoad_Customer_List, "Id", "Value"), new { @class = "form-control" })</span></div>
                        @{
                    if (Session["LogUserAccess"].ToString() == "Driver")
                    {
                        //Moved to Bottom for Driver
                    }
                    else
                    {

                        <div class="col-md-4 form-group" style="padding-left:0px;">
                            <span class="dtl_label">Delivery Paperwork Upload :</span>
                            <div id="modal-delivered-text" class="text-center">
                                <div class="col-md-8 no-pad-horizontal">
                                    <span id="deliverLoad-uploadbox" class="btn btn-basic fileinput-button fileInput-maxx">
                                        <span id="DeliverLoad_BOL_Filename" class="dtl_number">Select File</span>
                                        <input id="DeliverLoad_BOL_Upload" name="DeliverLoad_BOL_Upload" class="LoadBOLUpload" type="file" onchange="getBOLname()">
                                    </span>
                                    <div id="DeliverLoad_UploadProgress" class=""></div>
                                </div>
                                <div class="col-md-4 no-pad-horizontal">
                                    <span class="btn btn-primary fileinput-button DeliverLoad_BOLUpload_Submit" style="width: 100%">
                                        <span>Upload</span>
                                        <input class="DeliverLoad_BOLUpload_Submit BOLUpload" type="button">
                                    </span>
                                </div>
                                <input id="DeliverLoad_BOL_URL" name="BOL_URL" class="form-group" type="text" hidden>
                                <input id="DeliverLoad_BOL_FILE_TYPE" name="BOL_FILE_TYPE" class="form-group" type="text" hidden>
                                <input id="Conf_Ind" name="Conf_Ind" class="form-group" type="text" value="0" hidden>
                                <input id="BOL_Ind" name="BOL_Ind" class="form-group" type="text" value="0" hidden>
                            </div>
                        </div>

                    }
                        }
                    </div>
                }
    }


                            @{
                if (Session["LogUserAccess"].ToString() == "Driver")
                {
                    <div class="col-md-12 hide">
                        <div class="col-md-4 form-group" style="padding-left:0px;">
                            <div class="col-md-6" style="padding-right: 0px">
                                <span class="dtl_label">Full Payout</span><span class="dtl_value money-dtl">
                                    <input class="form-control dtl_number dtl_number pull-left sand_load_input text-box single-line" id="vM_AddLoadData_FullPayout" style="width:100%" type="text" value="" disabled>
                                </span>
                            </div>
                            <div class="col-md-6" style="padding-right: 0px"><span class="dtl_label">Maxx Payout</span><span class="dtl_value money-dtl">@Html.EditorFor(m => m.vM_AddLoadData.Payout, new { htmlAttributes = new { @class = "form-control dtl_number dtl_number pull-left sand_load_input", @style = "width:100%", @disabled = true } })</span></div>
                        </div>
                        <div class="col-md-4 form-group" style="padding-left:0px;">
                            <div class="col-md-6" style="padding-right: 0px"><span class="dtl_label">Total Miles</span><span class="dtl_value money-dtl">@Html.EditorFor(m => m.vM_AddLoadData.Total_Miles, new { htmlAttributes = new { @class = "form-control dtl_number pull-left sand_load_input", @style = "width:100%", @disabled = true } })</span></div>
                            <div class="col-md-6" style="padding-right: 0px"><span class="dtl_label">Load Miles</span><span class="dtl_value money-dtl">@Html.EditorFor(m => m.vM_AddLoadData.Total_Load_Miles, new { htmlAttributes = new { @class = "form-control dtl_number pull-left sand_load_input", @style = "width:100%", @disabled = true } })</span></div>
                        </div>
                        <div class="col-md-4 form-group" style="padding-left:0px;">
                            <div class="col-md-6" style="padding-right: 0px"><span class="dtl_label">Price PM</span><span class="dtl_value money-dtl">@Html.EditorFor(m => m.vM_AddLoadData.Price_Per_Mile, new { htmlAttributes = new { @class = "form-control dtl_number dtl_number pull-left sand_load_input", @style = "width:100%", @disabled = true } })</span></div>
                            <div class="col-md-6 hide" style="padding-right: 0px"><span class="dtl_label">Trailer</span><span class="dtl_value money-dtl">@Html.DropDownListFor(m => m.vM_AddLoadData.Trailer_NBR, new SelectList(Model.AddLoad_Trailer_List, "Id", "Value"), new { @class = "form-control" })</span></div>
                            <div class="col-md-4 hide" style="padding-right: 0px"><span class="dtl_label">Weight : </span><span id="payout-dtl" class="dtl_value padding-right-md money-round-dtl">@Html.EditorFor(m => m.vM_AddLoadData.Weight, new { htmlAttributes = new { @class = "form-control dtl_number" } })</span></div>
                            <div class="col-md-4 hide" style="padding-right: 0px"><span class="dtl_label">Contents : </span><span class="dtl_value padding-right-md money-dtl">@Html.EditorFor(m => m.vM_AddLoadData.Contents, new { htmlAttributes = new { @class = "form-control" } })</span></div>
                            <div class="col-md-6 hide" style="padding-right: 0px"><span class="dtl_label">LTL?</span><span class="dtl_value money-dtl">@Html.DropDownListFor(m => m.vM_AddLoadData.LTL, new SelectList(Model.AddLoad_LTL_IND_List, "Id", "Value"), new { @class = "form-control" })</span></div>
                            <div class="col-md-6 hide" style="padding-right: 0px"><span class="dtl_label">Load Type :</span><span class="dtl_value money-dtl">@Html.EditorFor(m => m.vM_AddLoadData.Load_Type, new { htmlAttributes = new { @class = "form-control dtl_number dtl_number pull-left sand_load_input", @style = "width:100%", @disabled = true } })</span></div>
                        </div>

                        <div class="col-md-4 form-group" style="padding-left:0px;">

                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-12">
                        <div class="col-md-4 form-group" style="padding-left:0px;">
                            <div class="col-md-6" style="padding-right: 0px">
                                <span class="dtl_label">Full Payout</span><span class="dtl_value money-dtl">
                                    <input class="form-control dtl_number dtl_number pull-left sand_load_input text-box single-line" id="vM_AddLoadData_FullPayout" style="width:100%" type="text" value="" disabled>
                                </span>
                            </div>
                            <div class="col-md-6" style="padding-right: 0px"><span class="dtl_label">Maxx Payout</span><span class="dtl_value money-dtl">@Html.EditorFor(m => m.vM_AddLoadData.Payout, new { htmlAttributes = new { @class = "form-control dtl_number dtl_number pull-left sand_load_input", @style = "width:100%", @disabled = true } })</span></div>
                        </div>
                        <div class="col-md-4 form-group" style="padding-left:0px;">
                            <div class="col-md-6" style="padding-right: 0px"><span class="dtl_label">Total Miles</span><span class="dtl_value money-dtl">@Html.EditorFor(m => m.vM_AddLoadData.Total_Miles, new { htmlAttributes = new { @class = "form-control dtl_number pull-left sand_load_input", @style = "width:100%", @disabled = true } })</span></div>
                            <div class="col-md-6" style="padding-right: 0px"><span class="dtl_label">Load Miles</span><span class="dtl_value money-dtl">@Html.EditorFor(m => m.vM_AddLoadData.Total_Load_Miles, new { htmlAttributes = new { @class = "form-control dtl_number pull-left sand_load_input", @style = "width:100%", @disabled = true } })</span></div>
                        </div>
                        <div class="col-md-4 form-group" style="padding-left:0px;">
                            <div class="col-md-6" style="padding-right: 0px"><span class="dtl_label">Price PM</span><span class="dtl_value money-dtl">@Html.EditorFor(m => m.vM_AddLoadData.Price_Per_Mile, new { htmlAttributes = new { @class = "form-control dtl_number dtl_number pull-left sand_load_input", @style = "width:100%", @disabled = true } })</span></div>
                            <div class="col-md-6 hide" style="padding-right: 0px"><span class="dtl_label">Trailer</span><span class="dtl_value money-dtl">@Html.DropDownListFor(m => m.vM_AddLoadData.Trailer_NBR, new SelectList(Model.AddLoad_Trailer_List, "Id", "Value"), new { @class = "form-control" })</span></div>
                            <div class="col-md-4 hide" style="padding-right: 0px"><span class="dtl_label">Weight : </span><span id="payout-dtl" class="dtl_value padding-right-md money-round-dtl">@Html.EditorFor(m => m.vM_AddLoadData.Weight, new { htmlAttributes = new { @class = "form-control dtl_number" } })</span></div>
                            <div class="col-md-4 hide" style="padding-right: 0px"><span class="dtl_label">Contents : </span><span class="dtl_value padding-right-md money-dtl">@Html.EditorFor(m => m.vM_AddLoadData.Contents, new { htmlAttributes = new { @class = "form-control" } })</span></div>
                            <div class="col-md-6 hide" style="padding-right: 0px"><span class="dtl_label">LTL?</span><span class="dtl_value money-dtl">@Html.DropDownListFor(m => m.vM_AddLoadData.LTL, new SelectList(Model.AddLoad_LTL_IND_List, "Id", "Value"), new { @class = "form-control" })</span></div>
                            <div class="col-md-6 hide" style="padding-right: 0px"><span class="dtl_label">Load Type :</span><span class="dtl_value money-dtl">@Html.EditorFor(m => m.vM_AddLoadData.Load_Type, new { htmlAttributes = new { @class = "form-control dtl_number dtl_number pull-left sand_load_input", @style = "width:100%", @disabled = true } })</span></div>
                        </div>

                        <div class="col-md-4 form-group" style="padding-left:0px;">

                        </div>
                    </div>
                }
}

                            <div class="col-md-11">
                                @Html.EditorFor(m => m.vM_AddLoadData.Load_Confirmation_URL, new { htmlAttributes = new { @class = "form-control", @hidden = true } })
                            </div>
                        </div>
    </div>
    <div class="col-md-12">
        <span class="dtl_label padding-right-md"></span>
    </div>

    <div class="col-md-6 form-group">
        <div id="editLoad_DetailBox" class="card border border-secondary">
            <div class="card-header card-header-pickup">
                <strong class="card-title">Pickup Info</strong>
            </div>
            <div class="card-body">
                <div class="col-md-6 form-group">Pickup :</div>
                <div class="col-md-6 form-group">@Html.EditorFor(m => m.vM_AddLoadData.Pickup_Location, new { htmlAttributes = new { @class = "form-control dtl_location sand_load_input" } })</div>

                <div class="col-md-6 form-group">Pickup Address :</div>
                <div class="col-md-6 form-group">@Html.EditorFor(m => m.vM_AddLoadData.Pickup_Address, new { htmlAttributes = new { @class = "form-control sand_load_input" } }) </div>

                <div class="col-md-6 form-group">Pickup Date :</div>
                <div class="col-md-6 form-group">@Html.EditorFor(m => m.vM_AddLoadData.Pickup_Date, new { htmlAttributes = new { @class = "form-control date-field dtl_number sand_load_input" } })</div>

                <div class="col-md-6 form-group">Pickup Time :</div>
                <div class="col-md-6 form-group">@Html.EditorFor(m => m.vM_AddLoadData.Pickup_Time, new { htmlAttributes = new { @class = "form-control" } })</div>

                <div class="col-md-6 form-group hide">Pickup Deadhead :</div>
                <div class="col-md-6 form-group hide">@Html.EditorFor(m => m.vM_AddLoadData.Deadhead_Miles, new { htmlAttributes = new { @class = "form-control sand_load_input", @onkeyup = "recalc_Miles()" } })</div>
            </div>
        </div>
    </div>


    <div id="dtl-dropoff-1" class="col-md-6 form-group">
        <div class="card border border-secondary">
            <div class="card-header">
                <strong class="card-title">Dropoff 1 Info</strong>
            </div>
            <div class="card-body">
                <div class="col-md-6 form-group">Dropoff Well :</div>
                <div class="col-md-6 form-group">@Html.EditorFor(m => m.vM_AddLoadData.Dropoff_1_Location, new { htmlAttributes = new { @class = "form-control dtl_location sand_load_input" } })</div>

                <div class="col-md-6 form-group">Dropoff Address :</div>
                <div class="col-md-6 form-group">@Html.EditorFor(m => m.vM_AddLoadData.Dropoff_1_Address, new { htmlAttributes = new { @class = "form-control sand_load_input" } }) </div>

                <div class="col-md-6 form-group">Dropoff Date :</div>
                <div class="col-md-6 form-group">@Html.EditorFor(m => m.vM_AddLoadData.Dropoff_1_Date, new { htmlAttributes = new { @class = "form-control date-field dtl_number sand_load_input" } })</div>

                <div class="col-md-6 form-group">Dropoff Time :</div>
                <div class="col-md-6 form-group">@Html.EditorFor(m => m.vM_AddLoadData.Dropoff_1_Time, new { htmlAttributes = new { @class = "form-control" } })</div>

                <div class="col-md-6 form-group hide">PU To D1 :</div>
                <div class="col-md-6 form-group hide">@Html.EditorFor(m => m.vM_AddLoadData.Pickup_DO1_Miles, new { htmlAttributes = new { @class = "form-control mileage-field sand_load_input", @onkeyup = "recalc_Miles()" } })</div>
            </div>
        </div>
    </div>

    <div class="col-md-12 add-multi-droppoff hide">
        <div class="col-md-4" style="padding-right: 0px"></div>
        <div class="col-md-4" style="padding-right: 0px"><button type="button" class="btn btn-outline-primary btn-sm add-multi-dropoff-btn"><i class="fa fa-plus"></i>&nbsp; Add More Stops</button></div>
        <div class="col-md-4" style="padding-right: 0px"></div>
    </div>

        @{
        if (Session["LogUserAccess"].ToString() == "Driver")
        {
            <div class="col-md-12">
               
                    <span class="dtl_label">Pickup Paperwork/Sand Ticket Upload :</span>
                    <div class="col-md-12 no-pad-horizontal">
                        <div class="col-md-8 no-pad-horizontal">
                            <span id="addLoad-uploadbox" class="btn btn-basic fileinput-button fileInput-maxx">
                                <span id="AddLoad_LoadConfirmation_Filename" class="dtl_number">Select File</span>
                                <input id="AddLoad_LoadConfirmation_Upload" name="AddLoad_LoadConfirmation_Upload" class="LoadConfirmationUpload" type="file" onchange="get_filename()">
                            </span>
                            <div id="addLoad_UploadProgress" class="" style="font-size: 17px; text-align: center;"></div>
                        </div>
                        <div class="col-md-4 no-pad-horizontal">
                            <span class="btn btn-primary fileinput-button AddLoad_LoadConfirmationUpload_Submit" style="width: 100%">
                                <span>Upload</span>
                                <input class="AddLoad_LoadConfirmationUpload_Submit LoadConfirmationUpload" type="button">
                            </span>
                        </div>
                    </div>           
                </div>
 
                <div class="col-md-12 padding-top-xl">
                    <span class="dtl_label">Delivery Paperwork Upload :</span>             
                    <div id="modal-delivered-text" class="text-center">
                        <div class="col-md-8 no-pad-horizontal">
                            <span id="deliverLoad-uploadbox" class="btn btn-basic fileinput-button fileInput-maxx">
                                <span id="DeliverLoad_BOL_Filename" class="dtl_number">Select File</span>
                                <input id="DeliverLoad_BOL_Upload" name="DeliverLoad_BOL_Upload" class="LoadBOLUpload" type="file" onchange="getBOLname()">
                            </span>
                            <div id="DeliverLoad_UploadProgress" class=""></div>
                        </div>
                        <div class="col-md-4 no-pad-horizontal">
                            <span class="btn btn-primary fileinput-button DeliverLoad_BOLUpload_Submit" style="width: 100%">
                                <span>Upload</span>
                                <input class="DeliverLoad_BOLUpload_Submit BOLUpload" type="button">
                            </span>
                        </div>
                        <input id="DeliverLoad_BOL_URL" name="BOL_URL" class="form-group" type="text" hidden>
                        <input id="DeliverLoad_BOL_FILE_TYPE" name="BOL_FILE_TYPE" class="form-group" type="text" hidden>
                        <input id="Conf_Ind" name="Conf_Ind" class="form-group" type="text" value="0" hidden>
                        <input id="BOL_Ind" name="BOL_Ind" class="form-group" type="text" value="0" hidden>
                    </div>
                </div>
        }
        else
        {

        }
}
</form>



<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
@*<script src="//code.jquery.com/jquery-1.10.2.js"></script>*@
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="../Areas/WorkPage/css/customDatePicker.css" rel='stylesheet' type='text/css'>

    <script type="text/javascript">

        //Get Route Info - for Add Sand Load
        function getRouteDetails(sel) {
            $.get("../Work/getSandPayout?ID=" + sel.value, function (data) {
                document.getElementsByClassName('sand_load_input').value = '';

                //Sand Detail
                document.getElementById('vM_AddLoadData_FullPayout').value = data[0].Full_Payout;
                document.getElementById('vM_AddLoadData_Payout').value = data[0].Payout;
                document.getElementById('vM_AddLoadData_Price_Per_Mile').value = data[0].PPM; 
                document.getElementById('vM_AddLoadData_Total_Miles').value = data[0].Total_Mileage;
                document.getElementById('vM_AddLoadData_Total_Load_Miles').value = data[0].Loaded_Mileage;
                document.getElementById('vM_AddLoadData_Pickup_Location').value = data[0].Pickup_Nm;
                document.getElementById('vM_AddLoadData_Pickup_Address').value = data[0].Pickup_Address;              
                document.getElementById('vM_AddLoadData_Deadhead_Miles').value = data[0].Deadhead_Mileage;

                var load_date = document.getElementById('vM_AddLoadData_Load_Date').options[document.getElementById('vM_AddLoadData_Load_Date').selectedIndex].value;
                document.getElementById('vM_AddLoadData_Pickup_Date').value = load_date;
                document.getElementById('vM_AddLoadData_Dropoff_1_Date').value = load_date;

                document.getElementById('vM_AddLoadData_Dropoff_1_Location').value = data[0].Dropoff_Nm;
                document.getElementById('vM_AddLoadData_Dropoff_1_Address').value = data[0].Dropoff_Address;
                document.getElementById('vM_AddLoadData_Pickup_DO1_Miles').value = data[0].Loaded_Mileage; 

                document.getElementById('vM_AddLoadData_Weight').value = '43,000';
                document.getElementById('vM_AddLoadData_Contents').value = 'Frac Sand';
                document.getElementById('vM_AddLoadData_Load_Type').value = 'SAND';
            });
        }

            function getSum(total, num) {
                return total + num - 1;
            }
            function recalc_Miles() {
                var deadheadMiles_tb = document.getElementById("vM_AddLoadData_Deadhead_Miles");
                var ppm_tb = document.getElementById("vM_AddLoadData_Price_Per_Mile");
                var payout_tb = document.getElementById("vM_AddLoadData_Payout");
                var mileageField = document.getElementsByClassName("mileage-field");
                var TotalMiles_tb = document.getElementById("vM_AddLoadData_Total_Miles");
                var TotalLoadMiles_tb = document.getElementById("vM_AddLoadData_Total_Load_Miles");
                var dh_miles = 0;
                var sumlist = [1];
                var sumVal = 0;
                Array.prototype.forEach.call(mileageField, function (el) {
                    if (el.value) {
                        sumlist.push(parseInt(el.value.replace(',', '')));
                    }

                    sumVal = sumlist.reduce(getSum);
                    dh_miles = parseInt(deadheadMiles_tb.value);
                    ppm_tb.value = (parseInt(payout_tb.value.replace(',', '').replace('$', '')) / parseInt(sumVal)).toFixed(2);
                    TotalMiles_tb.value = sumVal + dh_miles;
                    TotalLoadMiles_tb.value = sumVal;
                });
            }

            function get_filename() {
                var uploader = document.getElementById('AddLoad_LoadConfirmation_Upload');
                var filename = uploader.files.item(0).name;
                document.getElementById("AddLoad_LoadConfirmation_Filename").innerHTML = filename;
            };

            $(function () {

                $(".date-field").datepicker({ dateFormat: 'mm/dd/yy' });

                $("#vM_AddLoadData_Load_Number").keyup(function () {
                    $("#addLoad-uploadbox").removeClass('fileInput-maxx-disabled').addClass('fileInput-maxx');
                    $('#AddLoad_LoadConfirmation_Upload').removeAttr('disabled');
                    $('.AddLoad_LoadConfirmationUpload_Submit').removeClass('btn-primary-disabled').addClass('btn-primary');
                });

                // Add Load - Upload Load Confirmation 
                $('.AddLoad_LoadConfirmationUpload_Submit').on('click', function (event) {

                    var file_data = $("#AddLoad_LoadConfirmation_Upload").prop("files")[0]; // Getting the properties of file from file field
                    if (file_data) {
                    var Loadnum = $('#vM_AddLoadData_Load_Number').val();
                    $('#addLoad_UploadProgress').addClass('progress-bol');

                    var file_extension_txt;
                    var file_extension_str;
                    var final_ext_final;
                    var form_data = new FormData(); // Creating object of FormData class
                    form_data.append("file", file_data) // Appending parameter named file with properties of file_field to form_data
                    file_extension = file_data.name.split("?").pop();
                    file_extension_str = file_extension.substring(file_extension.length - 4, file_extension.length);
                    if (file_extension_str.charAt(0) != '.') {
                        final_ext_final = '.' + file_extension_str;
                    } else {
                        final_ext_final = file_extension_str;
                    }

                    $.ajax({
                        type: 'POST',
                        cache: false,
                        processData: false, // important
                        contentType: false, // important
                        data: form_data,
                        url: '../Work/uploadLoadConfirmation?LoadNbr=' + Loadnum,
                        dataType: 'json',
                        success: function (response) {
                            if (response.success) {
                                console.log(response.responseText);
                                $('#addLoad_UploadProgress').removeClass('progress-bol').html('Pickup Paperwork Upload Successful!');
                                $('#addLoad-uploadbox').removeClass('fileInput-maxx').addClass('fileInput-maxx-complete');
                                $('#vM_AddLoadData_Load_Confirmation_URL').val('https://maxx-express.com/Areas/PortalPage/docs/loads/' + Loadnum + final_ext_final);
                                $('#Conf_Ind').val('1');
                                $('#addLoad-uploadbox').removeClass('fileInput-maxx-validation');
                            } else {
                                alert(response.responseText);
                            }
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }

                    });
                 }
                });

            });


            // Deliver Load - Upload Signed BOL
            $('.DeliverLoad_BOLUpload_Submit').on('click', function (event) {
                var Loadnum = $('#vM_AddLoadData_Load_Number').val();
                $('#DeliverLoad_UploadProgress').addClass('progress-bol');

                var file_extension_txt;
                var file_extension_str;
                var final_ext_final;
                var file_data = $("#DeliverLoad_BOL_Upload").prop("files")[0]; // Getting the properties of file from file field
                var form_data = new FormData(); // Creating object of FormData class
                form_data.append("file", file_data) // Appending parameter named file with properties of file_field to form_data
                file_extension = file_data.name.split("?").pop();
                file_extension_str = file_extension.substring(file_extension.length - 4, file_extension.length);
                if (file_extension_str.charAt(0) != '.') {
                    final_ext_final = '.' + file_extension_str;
                } else {
                    final_ext_final = file_extension_str;
                }

                $.ajax({
                    type: 'POST',
                    cache: false,
                    processData: false, // important
                    contentType: false, // important
                    data: form_data,
                    url: '../Work/uploadBOL_Driver?LoadNbr=' + Loadnum,
                    dataType: 'json',
                    success: function (response) {
                        if (response.success) {
                            console.log(response.responseText);
                            $('#DeliverLoad_UploadProgress').removeClass('progress-bol').html('Delivery Paperwork Upload Successful!');
                            $('#deliverLoad-uploadbox').removeClass('fileInput-maxx').addClass('fileInput-maxx-complete');
                            $('#DeliverLoad_BOL_URL').val('https://maxx-express.com/Areas/PortalPage/docs/bol/' + Loadnum);
                            $('#DeliverLoad_BOL_FILE_TYPE').val(final_ext_final);
                            $('#btn-deliver-load').removeAttr('disabled').attr('data-deliver', Loadnum).attr('data-bol-url', 'https://maxx-express.com/Areas/PortalPage/docs/bol/' + Loadnum);
                            $('#BOL_Ind').val('1');
                            $('#deliverLoad-uploadbox').removeClass('fileInput-maxx-validation');
                        } else {
                            alert(response.responseText);
                        }
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }

                });
            });


    </script>
